@keyframes corusel {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 70px;
    position: relative;
    
}

.logos::before,
.logos::after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 3;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0), #fff);

}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0), #fff);

}

.logo-corusel {
    display: flex;
    gap: 50px;
    padding: 25px;
    animation: 15s corusel infinite linear;
}

.logo-corusel img {
    width: 200px;

}

@keyframes corusel-miror {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.logos-2 {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    /* padding: 60px 0; */
}

.logos-2::after,
.logos-2::before {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 3;
}

.logos-2::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0), #fff);

}

.logos-2::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0), #fff);

}

.logo-corusel-miror {
    /* display: inline-block; */
    gap: 50px;
    animation: 15s corusel-miror infinite linear;
}

.logo-corusel-miror img {
    width: 200px;
    margin: 20px 30px;
}