.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.section-title {
    position: relative;
    color: #000;
    font-size: 34px;
    
}

.about .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .content .col-left {
    position: relative;
    width: 45%;
}

.about .content .img-card {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .img-card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about .content .col-right {
    position: relative;
    width: 45%;
}

.about .content p {
    color: #000;
    font-size: 18px;

}