.about .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .content .col-left {
    position: relative;
    width: 45%;
}

.about .content .img-card {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .img-card img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about .content .col-right {
    position: relative;
    width: 45%;
}

.about .content p {
    color: #000;
    font-size: 18px;

}

@keyframes corusel {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 70px;
    position: relative;
}

.logos::before,
.logos::after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 3;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0), #fff);

}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0), #fff);

}

.logo-corusel {
    display: inline-block;
    animation: 15s corusel infinite linear;
}

.logo-corusel img {
    width: 200px;
    margin: 20px 30px;
}

@keyframes corusel-miror {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.logos-2 {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    /* padding: 60px 0; */
}

.logos-2::after,
.logos-2::before {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 3;
}

.logos-2::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0), #fff);

}

.logos-2::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0), #fff);

}

.logo-corusel-miror {
    display: inline-block;
    animation: 15s corusel-miror infinite linear;
}

.logo-corusel-miror img {
    width: 200px;
    margin: 20px 30px;
}